@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body,
pre,
code,
kbd,
samp {
    font-family: 'Press Start 2P', cursive;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 50px;
    background: #4B8BB3;
    padding: 0 .5rem 0 1rem;
}

header .logo {
    line-height: 50px;
    font-weight: bold;
}

nav {
    float: left;
}

nav ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    float: left;
    margin-left: 10px;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
    display: block;
    padding: 0 .5rem;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    background: #85d0ff;
}

.logo {
    float: left;
    position: relative;
}

main {
    /* Use a margin to center the page */
    margin: 0 auto;

    /* Set the width of the content */
    width: 960px;

    /* For smaller screens to not exceed the max screen width */
    max-width: 90%;
}

.avatar {
    border-radius: 50%;
    float: left;
    margin-right: 1em;
}

section.showcase {
    margin: 2rem;
}

.nes-field {
    margin: 1rem;
}

.send-btn {
    display: flex;
    justify-content: center;
}

#toggleMenu {
    display: none;
}

@media only screen and (max-width: 960px) {

    #toggleMenu {
        display: block;
        float: right;
        line-height: 50px;
    }

    header {
        position: relative;
    }

    nav {
        position: absolute;
        display: none;
        background: #000;
        top: 50px;
        left: 0;
        right: 0;
    }

    nav ul li a,
    nav ul li a:link,
    nav ul li a:visited {
        display: block;
        border-bottom: 1px solid #777;
    }

}