@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body,
pre,
code,
kbd,
samp {
    font-family: 'Press Start 2P', cursive;
}

body {
    padding: 0;
    margin: 0;
}

/* .nav-bar {
    height: 50px;
    overflow: hidden;
    background: #4B8BB3;
}

.nav-bar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: none;
    background: #85d0ff;
} */

header {
    height: 50px;
    background: #4B8BB3;
    color: #fff;
    padding: 0 .5rem 0 1rem;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
    display: inline-block;
    padding: 0 .5rem;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #85d0ff;
}

.burger {
    width: 100%;
    padding: 5px;
    text-align: right;
    box-sizing: border-box;
    font-size: 25px;
    display: none;
}

main {
    /* Use a margin to center the page */
    margin: 0 auto;

    /* Set the width of the content */
    width: 960px;

    /* For smaller screens to not exceed the max screen width */
    max-width: 90%;
}

section.showcase {
    margin: 2rem;
}

.nes-field {
    margin: 1rem;
}

.send-btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 555px) {
    .burger {
        display: block;
    }

    ul {
        width: 100%;
        background: #4B8BB3;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }

    .active {
        display: block;
    }
}